.merriweather { 
  font-family: 'Merriweather', serif;
}

.ubuntu { 
  font-family: 'Ubuntu', sans-serif;
}
.anton {
  font-family: 'Anton', sans-serif;
}

.yellowtail{
  font-family: 'Yellowtail', cursive;
}
.dancing{
  font-family: 'Dancing Script', cursive;
}
.indie{
  font-family: 'Indie Flower', cursive;
}
.cedarville{
  font-family: 'Cedarville Cursive', cursive;
}
.sacramento {
  font-family: 'Sacramento', cursive;
}
.rochester {
  font-family: 'Rochester', cursive;
}
.parisienne {
  font-family: 'Parisienne', cursive;
}

.capitalize {
  text-transform: capitalize;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase;
}